<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>basketBallRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7CC36E41C7AF17900B97149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CC36FD1C7AF17900B97149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CC37081C7AF17900B97149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
